<div id="<%= dom_id brew %>">
  <p>
    <strong>Coffee Name:</strong>
    <%= brew.coffee_name %>

    <br>

    <strong>Coffee Roast:</strong>
    <%= brew.coffee_roast %>

    <br>

  <% if brew.water_parts.present? && brew.coffee_parts.present? %>
    <strong>Coffee to Water Ratio:</strong>
    <%= "#{brew.water_parts} / #{brew.coffee_parts}" %>
  <% end %>
</div>
